<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="{$basePath}/css/main.min.css" rel="stylesheet">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="alert, $flash->type">{$flash->message}</div>

	{include content}

	<script src="{$basePath}/js/main.min.js"></script>
	{block scripts}{/block}
</body>
</html>
