form {
  ul.error {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    margin-bottom: 20px;
    @include alert-variant(theme-color-level("danger", $alert-bg-level), theme-color-level("danger", $alert-border-level), theme-color-level("danger", $alert-color-level));
  }
}